.label {
    -fx-font: 18 oblique;
    -fx-background-size: 100%;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#questionLabel, #moneyLabel  {
    -fx-text-fill: white;
    -fx-background-image: url("m.png");
}

#friendLabel {
    -fx-text-fill: black;
}

#currentQuestionLabel {
    -fx-text-fill: white;
    -fx-background-image: url("mp.png");
}

#guaranteedMoneyLabel {
    -fx-text-fill: white;
    -fx-background-image: url("mz.png");
}

#endGameLabel {
    -fx-text-fill: black;
    -fx-background-color: white;
}